[Unit]
Description=DigitalOcean DCGM Exporter
After=network.target

[Service]
User=root
Group=root
ExecStart=/opt/digitalocean/bin/do-dcgm-exporter
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target